<div class="">
  <a href="javascript:;" socialshare socialshare-provider="facebook" socialshare-text="{{ product.name }}" socialshare-hashtags="" class="no-underline social-share" socialshare-caption="{{ product.name }}">
    <md-button class="md-fab md-mini facebook" aria-label="Facebook">
      <i class="fa fa-facebook"></i>
    </md-button>
  </a>
  <a href="javascript:;" socialshare socialshare-provider="twitter" socialshare-text="{{ product.name }}" socialshare-hashtags="" class="no-underline social-share">
    <md-button class="md-fab md-mini twitter" aria-label="Twitter">
      <i class="fa fa-twitter"></i>
    </md-button>
  </a>

  <a href="javascript:;" socialshare socialshare-provider="pinterest" socialshare-text="{{ product.name }}" socialshare-hashtags="" class="no-underline social-share" socialshare-caption="{{ product.name }}">
    <md-button class="md-fab md-mini pinterest" aria-label="pinterest">
      <i class="fa fa-pinterest"></i>
    </md-button>
  </a>
  <a href="javascript:;" socialshare socialshare-provider="google" socialshare-text="{{ product.name }}" socialshare-hashtags="" class="no-underline social-share" socialshare-caption="{{ product.name }}">
    <md-button class="md-fab md-mini google-plus" aria-label="google">
      <i class="fa fa-google-plus"></i>
    </md-button>
  </a>
  <a href="javascript:;" socialshare socialshare-provider="whatsapp" socialshare-text="{{ product.name }}" socialshare-hashtags="" class="no-underline social-share" socialshare-caption="{{ product.name }}">
    <md-button class="md-fab md-mini whatsapp" aria-label="whatsapp">
      <i class="fa fa-whatsapp"></i>
    </md-button>
  </a>
</div>
